body{
    background-color: rgb(255, 179, 0);
    font-family: sans-serif;
}
h1{
    text-align: center;
    color: white;
    font-size: 50px;
    margin-top: 100px;
}
h2{
    text-align: center;
    color: white;
    font-size: 30px;
    margin-top: 50px;
}
p{
    text-align: center;
    color: white;
    font-size: 20px;
    margin-top: 20px;
}
img{
    width: 500px;
    border: 5px solid white;
    border-radius: 10px;
}